<div class="pen-form-container">
  <div class="pen-form-card">
    <%= simple_form_for(@pen, @booking) do |f| %>
      <div class="pen-form-title">
        <%= f.input :title %>
      </div>
      <div class="pen-form-description">
        <%= f.input :description%>
      </div>
      <div class="pen-form-upload">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="pen-form-button">
        <%= f.button :submit class :pen-form-button %>
      </div>
    <% end %>
  <%= link_to "Back to all pens", root_path, class: 'pen-form-cancel' %>
  </div>
</div>
